:root {
  --main-red: #ff868e;
  --light-red: #fbe0dc;
  --main-gray: #f8f8f7;
  --gray: #8c8c8c;
  --black: #1d1d1d;
}

.swiper-pagination {
  position: absolute;
  height: fit-content;
  background-color: white;
  display: block;
  right: 0;
  top: 320px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 5px;
}

.swiper-pagination-bullet {
  background-color:#fbe0dc !important;
  padding: 5px !important;
  display: inline-block;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-red) !important;
}
